//body {
	height: 300vh;
}

.primeira {
	*/width: 400px;*/
	height: 400px;
	background-color: purple;
	margin-top; 25
	position; static

	
}

.segunda {
	width: 350px;
	height: 350px;
	background-color: rgba(0, 255, 68, 0.967);
position: static;

}